body{
	background-color: lightgrey;
}
h1{font-size: 30px;
	color: teal;
}	
h2{
	color: red;
	font-size: 20px;
}
.big{
	color: salmon;
	font-size: 50px
}
h2.big{
	color: green;
	;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: navy;
}
h1 span{
	color: violet;
}
h3{
	font-size: 15px;
}